body {
  font-family: 'Raleway', sans-serif;
}

.me{
  padding: 10%
}

.proyectos {
  padding-left: 6%;
}

.tituloProyecto {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  color: #000000;
  font-weight: 900;
  text-align: center;
  margin: 3% 0%;
}

canvas  {
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000000;
  top: -11%;
}

.info h2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  margin: 3%;
}

a  {
  font-family: 'Amatic SC', cursive;
}

#menuContainer {
  z-index: 2;
  position: absolute;
  top: 50%;
}

.btnMenu{
  margin-top: 10%;
}

.card{
  width: 100%;
  margin: 0%;
  height: 100%;
  position: relative;
  top: 5%;
}

#section1 {
  background: #000000;
}

#section2 img {
  width: 50vw;
  height: 35vh;
}

.photo .portrait {
  height: 20vh;
  width: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #00ECFF;
  padding: 4px;
  float: left;
}

.portrait {
  height: 30vh;
  width: auto;
border: double 10px transparent;
    border-radius: 50%;
    background-image:linear-gradient(white, white), radial-gradient(circle at top left,#e06343, #9829c4, #1abc9c);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.info{
  margin: 0% 0% 0% 12%;
  text-align: justify;
  background: #333333;
  color: #ffffff;
  font-size: 10px;
  padding: 2% 7%;
}

.info p {
  margin-bottom: 0.5rem;
}

.info a {
  color: #fff;
  font-size: 15px;
  padding: 2%;
}

.photo{
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-left: 5%;
}


.tech{
  display: inline;
}

.tech i{
  color: #333333;
}

.tools i {
  font-size: 19px;
  margin: 3% 1% 0% 2%;
}

.info .tools{
  display: inline;
}

.skills {
  display: none;
}

/* proyectos */


.tile
{
  height:45vh;
  margin: 3% 5%;
  background-color: transparent;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  text-align: center;  
}

.card-body{
  width: 100%;
  margin: 0%;
}

.tile img {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  background-size: contain;
  background-position: center;
  padding: 0% 3%
}
.tile .text {
  width: 90%;
  margin: 0% 5%;
}

.tile h2
{
  font-weight:100;
  margin:5%;
  transform: translateX(200px);
}
.tile p
{
  font-size: 15px;
  font-weight:300;
  text-align: center  ;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
background-color:black;
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}

.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.title button
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color: #fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots 
{
  width: 20vw;
  display:inline;
  color: black;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
  padding: 2%;
  font-size: 22px;
  font-weight: 600;
 
}

.tile:hover .dots
{
  opacity:1;
  transform:translateY(0px);
}

.dots .dots:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

#section4{
  height: 115%;
}

/* Foto */

.snip1581 {
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 40vw;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin: 0%;
}
.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1581 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.snip1581 h3 {
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}
.snip1581 .title1 {
  font-weight: 100;
}
.snip1581 .title2 {
  color: #e06343;
  font-weight: 100;
}
.snip1581 .title3 {
  font-weight: 100;
}
.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}

.fab {
  background: -webkit-linear-gradient(150deg, #1abc9c, #9829c4, #e06343);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
}

.skills .fab {
  font-size: 30px;
  margin-top: 2%;
}

.menuBody {
  position: absolute;
  top: 35%;
  margin-left: 4px;
  height: 50vh;
}


@media screen and (min-width: 1025px){
  #cvBtn {
    margin-top: 10%;
  }
  #section2 img {
    height: auto;
  }
  .skills h2 {
    color: #333333;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 50px;
  }
  .snip1581 h3 {
    font-size: 44px;
    font-weight: 400;
  }  
  .snip1581 figcaption {
    padding: 20px;
  }
  .snip1581 {
    height: 79vh;
  }
  .card-body{
    padding: 4.25rem;
    margin: 0%;
  }
  .portrait,
  #section .portrait{
    height: 45vh;
  }
  .info .tools {
    display: none;
  }
  .skills {
    display: inline-block;
    margin: 0%;
    text-align: center;
    height: 79vh;
  }
  .tech{
    display: block;
    margin-top: 8%;
  }
  .photo{
    box-sizing: border-box;
    display: inline-block;
    width: 30vw;
    margin-left: 2%;
  }
  .info{
    text-align: justify;
    display: inline-block;
    width: 37vw;
    margin: 0%;
    padding: 2%;
  }
  .info h2{
    font-size: 40px;
  }
  .info p{
    font-size: 18px;
    line-height: initial;
    margin: 1rem 3rem;
  }
.info a{
  font-size: 25px;
  padding: 4%;
}
  .tile
  {
    margin: 0%;
  }

  .tile img {
    padding: 0%;
  }

  #menuContainer{
    top: 60%;
  }
  .me {
    padding: 5%;
}
}


@media screen and (min-width: 750px) and (max-width: 1024px) {
  #cvBtn{
    margin-top: 6%;
  }
  #section2 img {
    height: 74vh;
  }
  .skills .fab {
    font-size: 30px;
    margin-top: 10%;
}
  .skills h2 {
    color: #333333;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 25px;
  }
  .snip1581 h3 {
    font-size: 28px;
    font-weight: 400;
  }  
  .card-body{
    padding: 1.25rem;
    margin: 0%;
    padding-top: 2%;
  }
  .portrait,
  #section .portrait{
    height: 45vh;
  }
  .info .tools {
    display: none;
  }
  .skills {
    display: inline-block;
    text-align: center;
    padding: 0%;
  }
  .tech{
    display: block;
  }

  .photo{
    box-sizing: border-box;
    display: inline-block;
    width: 43vw;
    margin: 0% 2% 0% 6%;
    padding: 0%;
  }
  .info{
    text-align: justify;
    display: inline-block;
    width: 46vw;
    margin: 0%;
    padding: 2%;
  }
  .info h2{
    font-size: 30px;
  }
  .info p{
    font-size: 15px;
    line-height: initial;
    margin: 1rem 3rem;
  }
.info a{
  font-size: 18px;
  padding: 4%;
}
  .tile
  {
    height: 50vh;
    margin: 0% 0% 0% 8%;
  }

  .tile img {
    padding: 0%;
  }

  #menuContainer{
    top: 60%;
  }
  .me {
    padding: 6%;
}
}
