canvas  {
  position: absolute;
  width: 100%;
  height: 100%;
  background:#000000;
  top: -11%;
}

#menuContainer {
  z-index: 2;
  position: absolute;
  top: 57%;
}

.card{
  width: 100%;
  color: #fff;
  margin: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.526);
  position: relative;
  top: 5%;
}

#section1 {
  background: #000000;
}

#section2 img {
  width: 50vw;
}

.photo .portrait {
  height: 20vh;
  width: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #00ECFF;
  padding: 4px;
  float: left;
}

.portrait {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #00ECFF;
  padding: 4px;
}

.info{
  margin: 0% 10%;
  text-align: center;
}

.photo{
  box-sizing: border-box;
  margin: 7% 0%;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 20vh;
}


.tech{
  display: inline;
}

.tech i{
  color: #fff;
}

.info .tools{
  display: inline;
}

.skills {
  display: none;
}

/* proyectos */


.tile
{
  height:45vh;
  margin: 3% 5%;
  background-color: transparent;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  text-align: center;  
}

.card-body{
  width: 100%;
}

.tile img {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  background-size: contain;
  background-position: center;
  padding: 0% 3%
}
.tile .text {
  width: 90%;
  margin: 0% 5%;
}

.tile h2
{
  font-weight:100;
  margin:5%;
  transform: translateX(200px);
}
.tile p
{
  font-size: 15px;
  font-weight:300;
  text-align: center  ;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
background-color:black;
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}

.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.title button
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color: #fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots 
{
  width: 20vw;
  display:inline;
  color: black;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
  padding: 2%;
 
}

.tile:hover .dots
{
  opacity:1;
  transform:translateY(0px);
}

.dots .dots:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

#section4{
  height: 200%;
}

@media screen and (min-width: 750px) {
  .card-body{
    padding: 7.25rem;
  }
  .portrait,
  #section .portrait{
    height: 45vh;
  }
  .info .tools {
    display: none;
  }
  #section2 img {
    width: 15vw;
  }
  .skills {
    display: block;
  }
  .tech{
    display: block;
  }
  .photo{
    box-sizing: border-box;
    display: inline-block;
    width: 30vw;
    height: 70vh;
  }
  .info{
    text-align: justify;
    display: inline-block;
    width: 30vw;
    margin: 0%;
  }
  .info h5{
    font-size: 30px;
  }
  .info p{
    font-size: 18px;
  }

  #cvBtn{
    display: inline;
  }

  .tile
  {
    height: 50vh;
    margin: 0% 0% 0% 8%;
  }

  .tile img {
    padding: 0%;
  }
}