body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}

/* colors */
#section1 ul {
  display: none;
}

.scrollspy-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .table-of-contents {
  padding: 1%;
  list-style-type: none;
  position: fixed;
  width: 12vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  height: 100vh;
  background: -webkit-linear-gradient(150deg, rgba(26, 188, 156, 0.35), rgba(152, 41, 196, 0.35), rgba(224, 99, 67, 0.35));
}
.scrollspy-wrapper .table-of-contents i {
  display: block;
  width: auto;
  height: auto;
  color: black;
  margin: 30px 5%;
  font-size: 15px;
  background-color: transparent;
}
.scrollspy-wrapper .table-of-contents i:hover i {
  color: white;
}
.scrollspy-wrapper .table-of-contents i.active {
  transform: scale(1.5);
  background-color: transparent;
  transition: 0.3s;
  margin-left: 25%;
}
.scrollspy-wrapper .main-content {
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .main-content .section {
  height: 100%;
  position: relative;
  color: white;
}
.scrollspy-wrapper .main-content .section .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#menuContainer {
  box-sizing: border-box;
}

.containerButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.containerButton a {
  text-align: center;
  width: 30vh;
  display: inline-block;
  margin: 2%;
  padding: 4%;
  text-transform: uppercase;
  background: none;
  color: #fff;
  border: 0;
  letter-spacing: 3px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

a span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.line-one {
  border-top: 1px solid #ce7f6b;
}

.line-two {
  border-right: 1px solid #9662d3;
}

.line-three {
  border-bottom: 1px solid #a5486f;
}

.line-four {
  border-left: 1px solid #759b93;
}

.first:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-two {
  animation-duration: 2s;
  animation-name: two;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-four {
  animation-duration: 2s;
  animation-name: four;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes one {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes two {
  from {
    bottom: -100%;
    top: 100%;
  }
  to {
    bottom: 100%;
    top: -100%;
  }
}
@keyframes three {
  from {
    right: -100%;
    left: 100%;
  }
  to {
    right: 100%;
    left: -100%;
  }
}
@keyframes four {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}
.second:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
}
.second:hover .line-two {
  animation-duration: 2s;
  top: -100%;
  animation-delay: 1s;
  animation-name: four;
  animation-iteration-count: infinite;
}
.second:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
}
.second:hover .line-four {
  animation-duration: 2s;
  top: -100%;
  animation-name: two;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

/*** <--- CONTAINER ---> ***/
#section5 {
  font-size: 16px;
  overflow: hidden;
  background: #a871be;
  animation: changeBg 40s infinite alternate;
}

@keyframes changeBg {
  0% {
    background: #a871be;
  }
  33.33333333% {
    background: #93c979;
  }
  66.66666666% {
    background: #eea489;
  }
}
/*** <--- PARTICLES ---> ***/
.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 206, 206, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 41%;
  animation: blow 5571ms infinite;
  animation-delay: 4370ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 18%;
  animation: blow 7896ms infinite;
  animation-delay: 3353ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 96%;
  animation: blow 14352ms infinite;
  animation-delay: 4152ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 33%;
  animation: blow 8673ms infinite;
  animation-delay: 2803ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 57%;
  animation: blow 8492ms infinite;
  animation-delay: 8139ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 61%;
  animation: blow 11977ms infinite;
  animation-delay: 5170ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 54%;
  animation: blow 5761ms infinite;
  animation-delay: 4745ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 53%;
  animation: blow 8517ms infinite;
  animation-delay: 437ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 50%;
  animation: blow 13125ms infinite;
  animation-delay: 5845ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 83%;
  animation: blow 8233ms infinite;
  animation-delay: 7770ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 4754ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 60%;
  animation: blow 5448ms infinite;
  animation-delay: 3910ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 82%;
  animation: blow 13597ms infinite;
  animation-delay: 5921ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 96%;
  animation: blow 10213ms infinite;
  animation-delay: 7233ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 71%;
  animation: blow 5909ms infinite;
  animation-delay: 531ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 91%;
  animation: blow 11060ms infinite;
  animation-delay: 5380ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 41%;
  animation: blow 8775ms infinite;
  animation-delay: 7043ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 47%;
  animation: blow 9980ms infinite;
  animation-delay: 3874ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 1%;
  animation: blow 14306ms infinite;
  animation-delay: 2758ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 63%;
  animation: blow 8206ms infinite;
  animation-delay: 9167ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 3%;
  animation: blow 10482ms infinite;
  animation-delay: 7856ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 5721ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 80%;
  animation: blow 9450ms infinite;
  animation-delay: 6263ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 72%;
  animation: blow 10334ms infinite;
  animation-delay: 7240ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 56%;
  animation: blow 5896ms infinite;
  animation-delay: 581ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 10%;
  animation: blow 10181ms infinite;
  animation-delay: 4110ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 11056ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 91%;
  animation: blow 10729ms infinite;
  animation-delay: 6595ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 11094ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 65%;
  animation: blow 5596ms infinite;
  animation-delay: 6105ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 63%;
  animation: blow 11639ms infinite;
  animation-delay: 2860ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 51%;
  animation: blow 10240ms infinite;
  animation-delay: 11388ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 25%;
  animation: blow 8615ms infinite;
  animation-delay: 6303ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 19%;
  animation: blow 9146ms infinite;
  animation-delay: 11022ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 97%;
  animation: blow 14814ms infinite;
  animation-delay: 1199ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 7178ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 18%;
  animation: blow 6301ms infinite;
  animation-delay: 11507ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 86%;
  animation: blow 8514ms infinite;
  animation-delay: 481ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 65%;
  animation: blow 10953ms infinite;
  animation-delay: 11042ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 42%;
  animation: blow 5000ms infinite;
  animation-delay: 469ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 25%;
  animation: blow 8028ms infinite;
  animation-delay: 6411ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 87%;
  animation: blow 8983ms infinite;
  animation-delay: 5777ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 9859ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 89%;
  animation: blow 10758ms infinite;
  animation-delay: 8560ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 1303ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 2%;
  animation: blow 8468ms infinite;
  animation-delay: 5210ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 88%;
  animation: blow 5000ms infinite;
  animation-delay: 4909ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 74%;
  animation: blow 12653ms infinite;
  animation-delay: 1943ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 2%;
  animation: blow 5000ms infinite;
  animation-delay: 10620ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 43%;
  animation: blow 13457ms infinite;
  animation-delay: 1895ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 85%;
  animation: blow 7864ms infinite;
  animation-delay: 8529ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 49%;
  animation: blow 12711ms infinite;
  animation-delay: 7941ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 32%;
  animation: blow 8214ms infinite;
  animation-delay: 255ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 71%;
  animation: blow 7750ms infinite;
  animation-delay: 8526ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 1636ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 10%;
  animation: blow 7003ms infinite;
  animation-delay: 6812ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 94%;
  animation: blow 5000ms infinite;
  animation-delay: 8754ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 8%;
  animation: blow 13098ms infinite;
  animation-delay: 2656ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 39%;
  animation: blow 11346ms infinite;
  animation-delay: 3007ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 42%;
  animation: blow 12573ms infinite;
  animation-delay: 4049ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 69%;
  animation: blow 5000ms infinite;
  animation-delay: 7698ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 37%;
  animation: blow 5000ms infinite;
  animation-delay: 3316ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 20%;
  animation: blow 5000ms infinite;
  animation-delay: 7186ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 12%;
  animation: blow 9890ms infinite;
  animation-delay: 6794ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 76%;
  animation: blow 5000ms infinite;
  animation-delay: 8622ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 11%;
  animation: blow 5600ms infinite;
  animation-delay: 10625ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 76%;
  animation: blow 7277ms infinite;
  animation-delay: 4189ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 61%;
  animation: blow 5000ms infinite;
  animation-delay: 11004ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 48%;
  animation: blow 7549ms infinite;
  animation-delay: 3262ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 948ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 15%;
  animation: blow 5258ms infinite;
  animation-delay: 4841ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 39%;
  animation: blow 7913ms infinite;
  animation-delay: 2151ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 2%;
  animation: blow 12845ms infinite;
  animation-delay: 8202ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 13%;
  animation: blow 8119ms infinite;
  animation-delay: 7494ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 6%;
  animation: blow 9800ms infinite;
  animation-delay: 11830ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 14%;
  animation: blow 13528ms infinite;
  animation-delay: 7482ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 21%;
  animation: blow 9010ms infinite;
  animation-delay: 11029ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 16%;
  animation: blow 5000ms infinite;
  animation-delay: 11472ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 75%;
  animation: blow 11814ms infinite;
  animation-delay: 8843ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 71%;
  animation: blow 6521ms infinite;
  animation-delay: 10324ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 26%;
  animation: blow 10712ms infinite;
  animation-delay: 9932ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 66%;
  animation: blow 5000ms infinite;
  animation-delay: 9418ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 83%;
  animation: blow 5000ms infinite;
  animation-delay: 4547ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 97%;
  animation: blow 6034ms infinite;
  animation-delay: 4895ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 6%;
  animation: blow 13174ms infinite;
  animation-delay: 4681ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 59%;
  animation: blow 14322ms infinite;
  animation-delay: 7320ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 36%;
  animation: blow 10235ms infinite;
  animation-delay: 2793ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 54%;
  animation: blow 11850ms infinite;
  animation-delay: 5655ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 27%;
  animation: blow 13934ms infinite;
  animation-delay: 5888ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 38%;
  animation: blow 11356ms infinite;
  animation-delay: 7317ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 81%;
  animation: blow 11372ms infinite;
  animation-delay: 627ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 96%;
  animation: blow 11457ms infinite;
  animation-delay: 11457ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 57%;
  animation: blow 9623ms infinite;
  animation-delay: 1525ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 17%;
  animation: blow 5000ms infinite;
  animation-delay: 2425ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 7%;
  animation: blow 5000ms infinite;
  animation-delay: 9948ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 26%;
  animation: blow 5000ms infinite;
  animation-delay: 10217ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 67%;
  animation: blow 13014ms infinite;
  animation-delay: 2349ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 6%;
  animation: blow 10798ms infinite;
  animation-delay: 2238ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 57%;
  animation: blow 9294ms infinite;
  animation-delay: 8440ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 1%;
  animation: blow 8978ms infinite;
  animation-delay: 2017ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 1%;
  animation: blow 12521ms infinite;
  animation-delay: 9389ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 18%;
  animation: blow 11726ms infinite;
  animation-delay: 11488ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 4606ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 53%;
  animation: blow 12606ms infinite;
  animation-delay: 10116ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 87%;
  animation: blow 5000ms infinite;
  animation-delay: 11720ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 84%;
  animation: blow 14789ms infinite;
  animation-delay: 1881ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 20%;
  animation: blow 5000ms infinite;
  animation-delay: 1287ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 91%;
  animation: blow 8131ms infinite;
  animation-delay: 8335ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 84%;
  animation: blow 5000ms infinite;
  animation-delay: 8028ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 68%;
  animation: blow 12087ms infinite;
  animation-delay: 23ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 10%;
  animation: blow 10725ms infinite;
  animation-delay: 10189ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 57%;
  animation: blow 11044ms infinite;
  animation-delay: 1567ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 98%;
  animation: blow 12209ms infinite;
  animation-delay: 8502ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 92%;
  animation: blow 11223ms infinite;
  animation-delay: 11118ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 5%;
  animation: blow 6185ms infinite;
  animation-delay: 2055ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 73%;
  animation: blow 8495ms infinite;
  animation-delay: 2326ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 74%;
  animation: blow 5606ms infinite;
  animation-delay: 6166ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 69%;
  animation: blow 7235ms infinite;
  animation-delay: 7669ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 54%;
  animation: blow 5893ms infinite;
  animation-delay: 246ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 86%;
  animation: blow 14760ms infinite;
  animation-delay: 6814ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 38%;
  animation: blow 5015ms infinite;
  animation-delay: 4744ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 92%;
  animation: blow 7699ms infinite;
  animation-delay: 3601ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 42%;
  animation: blow 13968ms infinite;
  animation-delay: 11121ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 67%;
  animation: blow 6124ms infinite;
  animation-delay: 10818ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 15%;
  animation: blow 6543ms infinite;
  animation-delay: 1831ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 18%;
  animation: blow 9938ms infinite;
  animation-delay: 7625ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 1%;
  animation: blow 8838ms infinite;
  animation-delay: 11195ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 8%;
  animation: blow 12401ms infinite;
  animation-delay: 10832ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 9%;
  animation: blow 6904ms infinite;
  animation-delay: 5553ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 91%;
  animation: blow 6051ms infinite;
  animation-delay: 1618ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 27%;
  animation: blow 5000ms infinite;
  animation-delay: 6038ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 54%;
  animation: blow 6812ms infinite;
  animation-delay: 10827ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 42%;
  animation: blow 14171ms infinite;
  animation-delay: 6067ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 22%;
  animation: blow 5000ms infinite;
  animation-delay: 8186ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 99%;
  animation: blow 5000ms infinite;
  animation-delay: 2835ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 27%;
  animation: blow 13500ms infinite;
  animation-delay: 1789ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 2%;
  animation: blow 5000ms infinite;
  animation-delay: 6198ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 45%;
  animation: blow 5000ms infinite;
  animation-delay: 10242ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 85%;
  animation: blow 12021ms infinite;
  animation-delay: 1164ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 2936ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 44%;
  animation: blow 12388ms infinite;
  animation-delay: 8846ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 17%;
  animation: blow 13057ms infinite;
  animation-delay: 4219ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 63%;
  animation: blow 5000ms infinite;
  animation-delay: 10509ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 3%;
  animation: blow 8053ms infinite;
  animation-delay: 4819ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 25%;
  animation: blow 14855ms infinite;
  animation-delay: 10300ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 30%;
  animation: blow 10747ms infinite;
  animation-delay: 8495ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 7%;
  animation: blow 5748ms infinite;
  animation-delay: 4498ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 3664ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 13%;
  animation: blow 5000ms infinite;
  animation-delay: 4809ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 32%;
  animation: blow 5000ms infinite;
  animation-delay: 10030ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 43%;
  animation: blow 5000ms infinite;
  animation-delay: 5341ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 59%;
  animation: blow 5000ms infinite;
  animation-delay: 3461ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 64%;
  animation: blow 11027ms infinite;
  animation-delay: 302ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 72%;
  animation: blow 5000ms infinite;
  animation-delay: 10461ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 7%;
  animation: blow 5000ms infinite;
  animation-delay: 1895ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 46%;
  animation: blow 10290ms infinite;
  animation-delay: 10544ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 28%;
  animation: blow 11771ms infinite;
  animation-delay: 10979ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 54%;
  animation: blow 5000ms infinite;
  animation-delay: 1940ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 62%;
  animation: blow 5408ms infinite;
  animation-delay: 168ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 93%;
  animation: blow 5000ms infinite;
  animation-delay: 1947ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 95%;
  animation: blow 11416ms infinite;
  animation-delay: 10478ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 66%;
  animation: blow 9794ms infinite;
  animation-delay: 10026ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 100%;
  animation: blow 14829ms infinite;
  animation-delay: 11761ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 100%;
  animation: blow 14422ms infinite;
  animation-delay: 11919ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 72%;
  animation: blow 9944ms infinite;
  animation-delay: 8988ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 21%;
  animation: blow 5415ms infinite;
  animation-delay: 2475ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 100%;
  animation: blow 5000ms infinite;
  animation-delay: 2426ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 87%;
  animation: blow 10674ms infinite;
  animation-delay: 6702ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 39%;
  animation: blow 8710ms infinite;
  animation-delay: 9184ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 73%;
  animation: blow 12489ms infinite;
  animation-delay: 10944ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 56%;
  animation: blow 6298ms infinite;
  animation-delay: 3789ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 17%;
  animation: blow 8120ms infinite;
  animation-delay: 1687ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 68%;
  animation: blow 11111ms infinite;
  animation-delay: 8714ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 72%;
  animation: blow 12400ms infinite;
  animation-delay: 2512ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 33%;
  animation: blow 5000ms infinite;
  animation-delay: 3020ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 69%;
  animation: blow 7056ms infinite;
  animation-delay: 2391ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 10%;
  animation: blow 12262ms infinite;
  animation-delay: 6947ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 87%;
  animation: blow 5000ms infinite;
  animation-delay: 5066ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 85%;
  animation: blow 9915ms infinite;
  animation-delay: 9933ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 11%;
  animation: blow 14638ms infinite;
  animation-delay: 6448ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 18%;
  animation: blow 5671ms infinite;
  animation-delay: 305ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 4%;
  animation: blow 12392ms infinite;
  animation-delay: 11908ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 21%;
  animation: blow 6714ms infinite;
  animation-delay: 11461ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 47%;
  animation: blow 13400ms infinite;
  animation-delay: 9287ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 78%;
  animation: blow 5000ms infinite;
  animation-delay: 9629ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 76%;
  animation: blow 12563ms infinite;
  animation-delay: 5391ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 64%;
  animation: blow 14101ms infinite;
  animation-delay: 11635ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 81%;
  animation: blow 11472ms infinite;
  animation-delay: 1011ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 4%;
  animation: blow 8742ms infinite;
  animation-delay: 1302ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 44%;
  animation: blow 14429ms infinite;
  animation-delay: 10888ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 100%;
  animation: blow 5000ms infinite;
  animation-delay: 7407ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 81%;
  animation: blow 9567ms infinite;
  animation-delay: 1808ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 52%;
  animation: blow 5000ms infinite;
  animation-delay: 1193ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 90%;
  animation: blow 8747ms infinite;
  animation-delay: 128ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 64%;
  animation: blow 8744ms infinite;
  animation-delay: 1512ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 79%;
  animation: blow 10759ms infinite;
  animation-delay: 1011ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 11139ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 28%;
  animation: blow 8200ms infinite;
  animation-delay: 1115ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 85%;
  animation: blow 5000ms infinite;
  animation-delay: 3700ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 41%;
  animation: blow 5000ms infinite;
  animation-delay: 10278ms;
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -100vh) scale(0.2);
  }
}

/*# sourceMappingURL=style.css.map */
