body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}

/* colors */
.scrollspy-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .table-of-contents {
  margin: 2%;
  padding: 0;
  list-style-type: none;
  position: fixed;
  width: 10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.scrollspy-wrapper .table-of-contents i {
  display: block;
  width: auto;
  height: auto;
  color: black;
  margin: 20% 5%;
  background-color: transparent;
}
.scrollspy-wrapper .table-of-contents i:hover i {
  color: white;
}
.scrollspy-wrapper .table-of-contents i.active {
  transform: scale(1.5);
  background-color: transparent;
  transition: 0.3s;
  margin-left: 25%;
}
.scrollspy-wrapper .main-content {
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .main-content .section {
  height: 100%;
  position: relative;
  color: white;
}
.scrollspy-wrapper .main-content .section .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#menuContainer {
  box-sizing: border-box;
}

.containerButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.containerButton a {
  text-align: center;
  width: 30vh;
  display: inline-block;
  margin: 2%;
  padding: 4%;
  text-transform: uppercase;
  background: none;
  color: #fff;
  border: 0;
  letter-spacing: 3px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

a span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.line-one {
  border-top: 1px solid #ce7f6b;
}

.line-two {
  border-right: 1px solid #9662d3;
}

.line-three {
  border-bottom: 1px solid #a5486f;
}

.line-four {
  border-left: 1px solid #759b93;
}

.first:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-two {
  animation-duration: 2s;
  animation-name: two;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-four {
  animation-duration: 2s;
  animation-name: four;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes one {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes two {
  from {
    bottom: -100%;
    top: 100%;
  }
  to {
    bottom: 100%;
    top: -100%;
  }
}
@keyframes three {
  from {
    right: -100%;
    left: 100%;
  }
  to {
    right: 100%;
    left: -100%;
  }
}
@keyframes four {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}
.second:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
}
.second:hover .line-two {
  animation-duration: 2s;
  top: -100%;
  animation-delay: 1s;
  animation-name: four;
  animation-iteration-count: infinite;
}
.second:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
}
.second:hover .line-four {
  animation-duration: 2s;
  top: -100%;
  animation-name: two;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

/*** <--- CONTAINER ---> ***/
#section5 {
  font-size: 16px;
  overflow: hidden;
  background: #a871be;
  animation: changeBg 40s infinite alternate;
}

@keyframes changeBg {
  0% {
    background: #a871be;
  }
  33.33333333% {
    background: #93c979;
  }
  66.66666666% {
    background: #eea489;
  }
}
/*** <--- PARTICLES ---> ***/
.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 206, 206, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 61%;
  animation: blow 5000ms infinite;
  animation-delay: 10115ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 20%;
  animation: blow 7469ms infinite;
  animation-delay: 2035ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 68%;
  animation: blow 5000ms infinite;
  animation-delay: 10772ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 2977ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 85%;
  animation: blow 5000ms infinite;
  animation-delay: 9575ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 11%;
  animation: blow 5000ms infinite;
  animation-delay: 4529ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 60%;
  animation: blow 5033ms infinite;
  animation-delay: 11105ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 29%;
  animation: blow 5000ms infinite;
  animation-delay: 9661ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 23%;
  animation: blow 5000ms infinite;
  animation-delay: 1547ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 58%;
  animation: blow 13797ms infinite;
  animation-delay: 7630ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 20%;
  animation: blow 13474ms infinite;
  animation-delay: 5883ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 75%;
  animation: blow 5000ms infinite;
  animation-delay: 1605ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 15%;
  animation: blow 5000ms infinite;
  animation-delay: 8004ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 31%;
  animation: blow 5000ms infinite;
  animation-delay: 4610ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 98%;
  animation: blow 5000ms infinite;
  animation-delay: 4258ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 36%;
  animation: blow 7177ms infinite;
  animation-delay: 2676ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 75%;
  animation: blow 13042ms infinite;
  animation-delay: 6756ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 5970ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 51%;
  animation: blow 13888ms infinite;
  animation-delay: 4633ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 14%;
  animation: blow 5531ms infinite;
  animation-delay: 5092ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 63%;
  animation: blow 5000ms infinite;
  animation-delay: 4903ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 59%;
  animation: blow 5277ms infinite;
  animation-delay: 9657ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 97%;
  animation: blow 5000ms infinite;
  animation-delay: 9362ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 10%;
  animation: blow 5000ms infinite;
  animation-delay: 4265ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 92%;
  animation: blow 6056ms infinite;
  animation-delay: 900ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 60%;
  animation: blow 5137ms infinite;
  animation-delay: 5831ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 8661ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 1497ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 72%;
  animation: blow 9294ms infinite;
  animation-delay: 11598ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 30%;
  animation: blow 14478ms infinite;
  animation-delay: 295ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 33%;
  animation: blow 7291ms infinite;
  animation-delay: 5310ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 26%;
  animation: blow 5000ms infinite;
  animation-delay: 9924ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 34%;
  animation: blow 12600ms infinite;
  animation-delay: 5218ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 11864ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 31%;
  animation: blow 5000ms infinite;
  animation-delay: 2134ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 48%;
  animation: blow 6616ms infinite;
  animation-delay: 7984ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 14%;
  animation: blow 9649ms infinite;
  animation-delay: 4645ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 22%;
  animation: blow 13581ms infinite;
  animation-delay: 2972ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 19%;
  animation: blow 6699ms infinite;
  animation-delay: 2384ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 20%;
  animation: blow 7836ms infinite;
  animation-delay: 6264ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 5%;
  animation: blow 5000ms infinite;
  animation-delay: 9798ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 22%;
  animation: blow 5141ms infinite;
  animation-delay: 5828ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 29%;
  animation: blow 12683ms infinite;
  animation-delay: 8867ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 34%;
  animation: blow 5000ms infinite;
  animation-delay: 7285ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 63%;
  animation: blow 8916ms infinite;
  animation-delay: 7215ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 71%;
  animation: blow 5000ms infinite;
  animation-delay: 8392ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 92%;
  animation: blow 12306ms infinite;
  animation-delay: 11369ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 4%;
  animation: blow 7272ms infinite;
  animation-delay: 7696ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 19%;
  animation: blow 5630ms infinite;
  animation-delay: 4290ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 11366ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 12%;
  animation: blow 5000ms infinite;
  animation-delay: 11214ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 21%;
  animation: blow 9181ms infinite;
  animation-delay: 4343ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 27%;
  animation: blow 5000ms infinite;
  animation-delay: 126ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 51%;
  animation: blow 5000ms infinite;
  animation-delay: 10198ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 74%;
  animation: blow 13258ms infinite;
  animation-delay: 843ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 5%;
  animation: blow 9750ms infinite;
  animation-delay: 7920ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 63%;
  animation: blow 8040ms infinite;
  animation-delay: 2817ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 52%;
  animation: blow 14073ms infinite;
  animation-delay: 10883ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 48%;
  animation: blow 12178ms infinite;
  animation-delay: 10939ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 4%;
  animation: blow 5000ms infinite;
  animation-delay: 10531ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 54%;
  animation: blow 14769ms infinite;
  animation-delay: 1641ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 26%;
  animation: blow 5642ms infinite;
  animation-delay: 9761ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 64%;
  animation: blow 14269ms infinite;
  animation-delay: 6250ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 22%;
  animation: blow 12864ms infinite;
  animation-delay: 4202ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 8%;
  animation: blow 11611ms infinite;
  animation-delay: 1630ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 75%;
  animation: blow 10286ms infinite;
  animation-delay: 7632ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 18%;
  animation: blow 5000ms infinite;
  animation-delay: 353ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 63%;
  animation: blow 7666ms infinite;
  animation-delay: 11203ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 48%;
  animation: blow 13345ms infinite;
  animation-delay: 3441ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 7%;
  animation: blow 5000ms infinite;
  animation-delay: 10655ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 6%;
  animation: blow 8972ms infinite;
  animation-delay: 3316ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 21%;
  animation: blow 5997ms infinite;
  animation-delay: 7594ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 48%;
  animation: blow 14460ms infinite;
  animation-delay: 3511ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 94%;
  animation: blow 5104ms infinite;
  animation-delay: 5149ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 95%;
  animation: blow 7545ms infinite;
  animation-delay: 7225ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 96%;
  animation: blow 14513ms infinite;
  animation-delay: 10547ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 56%;
  animation: blow 9254ms infinite;
  animation-delay: 9874ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 56%;
  animation: blow 5000ms infinite;
  animation-delay: 561ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 97%;
  animation: blow 6858ms infinite;
  animation-delay: 6862ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 50%;
  animation: blow 5022ms infinite;
  animation-delay: 6594ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 14%;
  animation: blow 5000ms infinite;
  animation-delay: 8355ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 95%;
  animation: blow 9862ms infinite;
  animation-delay: 10533ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 64%;
  animation: blow 10805ms infinite;
  animation-delay: 1787ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 99%;
  animation: blow 5000ms infinite;
  animation-delay: 2291ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 5%;
  animation: blow 9756ms infinite;
  animation-delay: 7553ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 13%;
  animation: blow 10641ms infinite;
  animation-delay: 11798ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 66%;
  animation: blow 12847ms infinite;
  animation-delay: 6797ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 8586ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 30%;
  animation: blow 14513ms infinite;
  animation-delay: 3893ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 31%;
  animation: blow 8492ms infinite;
  animation-delay: 7133ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 17%;
  animation: blow 8993ms infinite;
  animation-delay: 2189ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 8%;
  animation: blow 6618ms infinite;
  animation-delay: 4178ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 68%;
  animation: blow 7613ms infinite;
  animation-delay: 7523ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 89%;
  animation: blow 14158ms infinite;
  animation-delay: 11632ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 59%;
  animation: blow 14878ms infinite;
  animation-delay: 1372ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 90%;
  animation: blow 11204ms infinite;
  animation-delay: 11867ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 30%;
  animation: blow 8292ms infinite;
  animation-delay: 5032ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 75%;
  animation: blow 7794ms infinite;
  animation-delay: 332ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 3%;
  animation: blow 5225ms infinite;
  animation-delay: 11011ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 56%;
  animation: blow 13976ms infinite;
  animation-delay: 7703ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 59%;
  animation: blow 5000ms infinite;
  animation-delay: 8279ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 41%;
  animation: blow 7638ms infinite;
  animation-delay: 8143ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 1%;
  animation: blow 7317ms infinite;
  animation-delay: 5236ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 81%;
  animation: blow 5000ms infinite;
  animation-delay: 2699ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 71%;
  animation: blow 5072ms infinite;
  animation-delay: 8150ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 76%;
  animation: blow 5000ms infinite;
  animation-delay: 7729ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 32%;
  animation: blow 5000ms infinite;
  animation-delay: 8445ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 42%;
  animation: blow 9032ms infinite;
  animation-delay: 187ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 70%;
  animation: blow 5000ms infinite;
  animation-delay: 8750ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 31%;
  animation: blow 8922ms infinite;
  animation-delay: 1450ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 78%;
  animation: blow 13469ms infinite;
  animation-delay: 26ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 61%;
  animation: blow 9431ms infinite;
  animation-delay: 4163ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 21%;
  animation: blow 5000ms infinite;
  animation-delay: 7154ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 73%;
  animation: blow 7894ms infinite;
  animation-delay: 4301ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 66%;
  animation: blow 11168ms infinite;
  animation-delay: 8465ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 98%;
  animation: blow 7523ms infinite;
  animation-delay: 10646ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 73%;
  animation: blow 5000ms infinite;
  animation-delay: 6670ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 38%;
  animation: blow 11204ms infinite;
  animation-delay: 7705ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 81%;
  animation: blow 5000ms infinite;
  animation-delay: 9767ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 13%;
  animation: blow 5000ms infinite;
  animation-delay: 2339ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 74%;
  animation: blow 11571ms infinite;
  animation-delay: 10069ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 75%;
  animation: blow 13420ms infinite;
  animation-delay: 8488ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 45%;
  animation: blow 12349ms infinite;
  animation-delay: 4345ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 88%;
  animation: blow 11425ms infinite;
  animation-delay: 3513ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 4744ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 8019ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 11%;
  animation: blow 6079ms infinite;
  animation-delay: 3378ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 57%;
  animation: blow 13173ms infinite;
  animation-delay: 8282ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 9412ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 94%;
  animation: blow 10537ms infinite;
  animation-delay: 1600ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 60%;
  animation: blow 9223ms infinite;
  animation-delay: 5559ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 39%;
  animation: blow 8055ms infinite;
  animation-delay: 8625ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 65%;
  animation: blow 5000ms infinite;
  animation-delay: 2352ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 65%;
  animation: blow 10188ms infinite;
  animation-delay: 10643ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 5840ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 15%;
  animation: blow 5000ms infinite;
  animation-delay: 5019ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 40%;
  animation: blow 9336ms infinite;
  animation-delay: 5481ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 14%;
  animation: blow 5000ms infinite;
  animation-delay: 4290ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 62%;
  animation: blow 11766ms infinite;
  animation-delay: 10532ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 36%;
  animation: blow 6306ms infinite;
  animation-delay: 6854ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 26%;
  animation: blow 6753ms infinite;
  animation-delay: 36ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 92%;
  animation: blow 7082ms infinite;
  animation-delay: 10678ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 23%;
  animation: blow 7178ms infinite;
  animation-delay: 246ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 99%;
  animation: blow 8582ms infinite;
  animation-delay: 1413ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 86%;
  animation: blow 9919ms infinite;
  animation-delay: 5720ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 70%;
  animation: blow 5447ms infinite;
  animation-delay: 4430ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 72%;
  animation: blow 5097ms infinite;
  animation-delay: 4750ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 472ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 47%;
  animation: blow 5000ms infinite;
  animation-delay: 276ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 32%;
  animation: blow 5000ms infinite;
  animation-delay: 11591ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 51%;
  animation: blow 5000ms infinite;
  animation-delay: 7100ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 53%;
  animation: blow 7918ms infinite;
  animation-delay: 2154ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 15%;
  animation: blow 6575ms infinite;
  animation-delay: 2130ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 23%;
  animation: blow 5000ms infinite;
  animation-delay: 10727ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 83%;
  animation: blow 13851ms infinite;
  animation-delay: 5036ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 29%;
  animation: blow 9233ms infinite;
  animation-delay: 7436ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 84%;
  animation: blow 13019ms infinite;
  animation-delay: 4458ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 14%;
  animation: blow 13829ms infinite;
  animation-delay: 4660ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 56%;
  animation: blow 5847ms infinite;
  animation-delay: 5400ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 46%;
  animation: blow 5000ms infinite;
  animation-delay: 2955ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 7452ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 55%;
  animation: blow 11453ms infinite;
  animation-delay: 7949ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 59%;
  animation: blow 5000ms infinite;
  animation-delay: 9104ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 7220ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 3%;
  animation: blow 11733ms infinite;
  animation-delay: 2408ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 43%;
  animation: blow 12491ms infinite;
  animation-delay: 7652ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 34%;
  animation: blow 5000ms infinite;
  animation-delay: 8676ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 83%;
  animation: blow 14164ms infinite;
  animation-delay: 1269ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 2%;
  animation: blow 5000ms infinite;
  animation-delay: 793ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 52%;
  animation: blow 9104ms infinite;
  animation-delay: 3340ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 19%;
  animation: blow 14875ms infinite;
  animation-delay: 10563ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 87%;
  animation: blow 10818ms infinite;
  animation-delay: 9505ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 71%;
  animation: blow 10570ms infinite;
  animation-delay: 6516ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 27%;
  animation: blow 6541ms infinite;
  animation-delay: 2192ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 35%;
  animation: blow 5000ms infinite;
  animation-delay: 4479ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 39%;
  animation: blow 12578ms infinite;
  animation-delay: 930ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 68%;
  animation: blow 7751ms infinite;
  animation-delay: 9711ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 91%;
  animation: blow 14672ms infinite;
  animation-delay: 9093ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 14%;
  animation: blow 12577ms infinite;
  animation-delay: 5577ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 96%;
  animation: blow 12182ms infinite;
  animation-delay: 2902ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 42%;
  animation: blow 6983ms infinite;
  animation-delay: 11197ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 39%;
  animation: blow 10864ms infinite;
  animation-delay: 8972ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 48%;
  animation: blow 13777ms infinite;
  animation-delay: 9976ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 47%;
  animation: blow 12081ms infinite;
  animation-delay: 3056ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 4%;
  animation: blow 5000ms infinite;
  animation-delay: 886ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 19%;
  animation: blow 13908ms infinite;
  animation-delay: 3536ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 19%;
  animation: blow 9261ms infinite;
  animation-delay: 7661ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 26%;
  animation: blow 9766ms infinite;
  animation-delay: 11269ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 79%;
  animation: blow 11557ms infinite;
  animation-delay: 9316ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 81%;
  animation: blow 6072ms infinite;
  animation-delay: 8429ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 90%;
  animation: blow 13986ms infinite;
  animation-delay: 5556ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 87%;
  animation: blow 9584ms infinite;
  animation-delay: 10967ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 53%;
  animation: blow 11797ms infinite;
  animation-delay: 2839ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 30%;
  animation: blow 5685ms infinite;
  animation-delay: 2594ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 11%;
  animation: blow 11536ms infinite;
  animation-delay: 3723ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 94%;
  animation: blow 8270ms infinite;
  animation-delay: 5787ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 36%;
  animation: blow 5000ms infinite;
  animation-delay: 9656ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 23%;
  animation: blow 7661ms infinite;
  animation-delay: 6701ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 75%;
  animation: blow 5052ms infinite;
  animation-delay: 9296ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 3%;
  animation: blow 13532ms infinite;
  animation-delay: 6652ms;
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -100vh) scale(0.2);
  }
}

/*# sourceMappingURL=style.css.map */
