body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}

/* colors */
.scrollspy-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .table-of-contents {
  margin: 2%;
  padding: 0;
  list-style-type: none;
  position: fixed;
  width: 10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.scrollspy-wrapper .table-of-contents i {
  display: block;
  width: auto;
  height: auto;
  color: black;
  margin: 20% 5%;
  background-color: transparent;
}
.scrollspy-wrapper .table-of-contents i:hover i {
  color: white;
}
.scrollspy-wrapper .table-of-contents i.active {
  transform: scale(1.5);
  background-color: transparent;
  transition: 0.3s;
  margin-left: 25%;
}
.scrollspy-wrapper .main-content {
  width: 100%;
  height: 100%;
}
.scrollspy-wrapper .main-content .section {
  height: 100%;
  position: relative;
  color: white;
}
.scrollspy-wrapper .main-content .section .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#menuContainer {
  box-sizing: border-box;
}

.containerButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.containerButton a {
  text-align: center;
  width: 30vh;
  display: inline-block;
  margin: 2%;
  padding: 4%;
  text-transform: uppercase;
  background: none;
  color: #fff;
  border: 0;
  letter-spacing: 3px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

a span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.line-one {
  border-top: 1px solid #ce7f6b;
}

.line-two {
  border-right: 1px solid #9662d3;
}

.line-three {
  border-bottom: 1px solid #a5486f;
}

.line-four {
  border-left: 1px solid #759b93;
}

.first:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-two {
  animation-duration: 2s;
  animation-name: two;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.first:hover .line-four {
  animation-duration: 2s;
  animation-name: four;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes one {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes two {
  from {
    bottom: -100%;
    top: 100%;
  }
  to {
    bottom: 100%;
    top: -100%;
  }
}
@keyframes three {
  from {
    right: -100%;
    left: 100%;
  }
  to {
    right: 100%;
    left: -100%;
  }
}
@keyframes four {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}
.second:hover .line-one {
  animation-duration: 2s;
  animation-name: one;
  animation-iteration-count: infinite;
}
.second:hover .line-two {
  animation-duration: 2s;
  top: -100%;
  animation-delay: 1s;
  animation-name: four;
  animation-iteration-count: infinite;
}
.second:hover .line-three {
  animation-duration: 2s;
  animation-name: three;
  animation-iteration-count: infinite;
}
.second:hover .line-four {
  animation-duration: 2s;
  top: -100%;
  animation-name: two;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

/*** <--- CONTAINER ---> ***/
#section5 {
  font-size: 16px;
  overflow: hidden;
  background: #a871be;
  animation: changeBg 40s infinite alternate;
}

@keyframes changeBg {
  0% {
    background: #a871be;
  }
  33.33333333% {
    background: #93c979;
  }
  66.66666666% {
    background: #eea489;
  }
}
/*** <--- PARTICLES ---> ***/
.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 206, 206, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 51%;
  animation: blow 11833ms infinite;
  animation-delay: 1249ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 87%;
  animation: blow 12226ms infinite;
  animation-delay: 6394ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 17%;
  animation: blow 5000ms infinite;
  animation-delay: 642ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 88%;
  animation: blow 9723ms infinite;
  animation-delay: 1108ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 18%;
  animation: blow 5000ms infinite;
  animation-delay: 8169ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 67%;
  animation: blow 5000ms infinite;
  animation-delay: 3206ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 3737ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 36%;
  animation: blow 14494ms infinite;
  animation-delay: 5491ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 67%;
  animation: blow 8567ms infinite;
  animation-delay: 10647ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 45%;
  animation: blow 5000ms infinite;
  animation-delay: 7536ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 4916ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 2150ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 29%;
  animation: blow 5164ms infinite;
  animation-delay: 11453ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 81%;
  animation: blow 5000ms infinite;
  animation-delay: 8940ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 31%;
  animation: blow 11255ms infinite;
  animation-delay: 8682ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 38%;
  animation: blow 5000ms infinite;
  animation-delay: 2976ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 7%;
  animation: blow 5000ms infinite;
  animation-delay: 3921ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 62%;
  animation: blow 8564ms infinite;
  animation-delay: 3117ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 51%;
  animation: blow 5000ms infinite;
  animation-delay: 6946ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 71%;
  animation: blow 6936ms infinite;
  animation-delay: 6388ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 17%;
  animation: blow 14138ms infinite;
  animation-delay: 7750ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 95%;
  animation: blow 14524ms infinite;
  animation-delay: 3440ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 39%;
  animation: blow 8565ms infinite;
  animation-delay: 8802ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 52%;
  animation: blow 5121ms infinite;
  animation-delay: 9184ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 100%;
  animation: blow 5000ms infinite;
  animation-delay: 11409ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 85%;
  animation: blow 13498ms infinite;
  animation-delay: 8447ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 83%;
  animation: blow 11040ms infinite;
  animation-delay: 6085ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 42%;
  animation: blow 10906ms infinite;
  animation-delay: 9185ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 34%;
  animation: blow 5764ms infinite;
  animation-delay: 3809ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 16%;
  animation: blow 11927ms infinite;
  animation-delay: 10189ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 15%;
  animation: blow 5429ms infinite;
  animation-delay: 7618ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 53%;
  animation: blow 7386ms infinite;
  animation-delay: 8485ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 79%;
  animation: blow 5000ms infinite;
  animation-delay: 789ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 41%;
  animation: blow 13575ms infinite;
  animation-delay: 1304ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 78%;
  animation: blow 10599ms infinite;
  animation-delay: 6233ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 41%;
  animation: blow 5000ms infinite;
  animation-delay: 11690ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 69%;
  animation: blow 12085ms infinite;
  animation-delay: 7418ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 16%;
  animation: blow 5000ms infinite;
  animation-delay: 2931ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 10%;
  animation: blow 8222ms infinite;
  animation-delay: 798ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 80%;
  animation: blow 9162ms infinite;
  animation-delay: 11358ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 1%;
  animation: blow 5000ms infinite;
  animation-delay: 2214ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 3%;
  animation: blow 9707ms infinite;
  animation-delay: 1892ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 34%;
  animation: blow 6216ms infinite;
  animation-delay: 7221ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 32%;
  animation: blow 9120ms infinite;
  animation-delay: 5927ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 4799ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 63%;
  animation: blow 12300ms infinite;
  animation-delay: 10136ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 2235ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 535ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 64%;
  animation: blow 11672ms infinite;
  animation-delay: 6463ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 82%;
  animation: blow 12274ms infinite;
  animation-delay: 2024ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 74%;
  animation: blow 13206ms infinite;
  animation-delay: 8369ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 87%;
  animation: blow 5000ms infinite;
  animation-delay: 11102ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 57%;
  animation: blow 6023ms infinite;
  animation-delay: 3861ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 35%;
  animation: blow 9209ms infinite;
  animation-delay: 2328ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 81%;
  animation: blow 13005ms infinite;
  animation-delay: 1902ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 93%;
  animation: blow 6730ms infinite;
  animation-delay: 181ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 83%;
  animation: blow 5000ms infinite;
  animation-delay: 3614ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 14%;
  animation: blow 7254ms infinite;
  animation-delay: 7638ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 43%;
  animation: blow 5000ms infinite;
  animation-delay: 5480ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 15%;
  animation: blow 5360ms infinite;
  animation-delay: 1468ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 31%;
  animation: blow 5000ms infinite;
  animation-delay: 9643ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 64%;
  animation: blow 5992ms infinite;
  animation-delay: 11218ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 86%;
  animation: blow 5000ms infinite;
  animation-delay: 6822ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 30%;
  animation: blow 8188ms infinite;
  animation-delay: 7167ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 3382ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 70%;
  animation: blow 5000ms infinite;
  animation-delay: 683ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 58%;
  animation: blow 5000ms infinite;
  animation-delay: 4615ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 40%;
  animation: blow 13212ms infinite;
  animation-delay: 9633ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 63%;
  animation: blow 5000ms infinite;
  animation-delay: 10488ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 45%;
  animation: blow 11411ms infinite;
  animation-delay: 8549ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 55%;
  animation: blow 10943ms infinite;
  animation-delay: 5546ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 18%;
  animation: blow 8194ms infinite;
  animation-delay: 11705ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 68%;
  animation: blow 13898ms infinite;
  animation-delay: 7808ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 13%;
  animation: blow 12501ms infinite;
  animation-delay: 10230ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 17%;
  animation: blow 11158ms infinite;
  animation-delay: 8146ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 28%;
  animation: blow 5000ms infinite;
  animation-delay: 1450ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 100%;
  animation: blow 11759ms infinite;
  animation-delay: 2368ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 70%;
  animation: blow 5000ms infinite;
  animation-delay: 11600ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 20%;
  animation: blow 11475ms infinite;
  animation-delay: 3055ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 86%;
  animation: blow 5000ms infinite;
  animation-delay: 10603ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 24%;
  animation: blow 8581ms infinite;
  animation-delay: 129ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 50%;
  animation: blow 12593ms infinite;
  animation-delay: 10869ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 90%;
  animation: blow 5000ms infinite;
  animation-delay: 724ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 48%;
  animation: blow 10725ms infinite;
  animation-delay: 6475ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 61%;
  animation: blow 12841ms infinite;
  animation-delay: 3430ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 7%;
  animation: blow 5167ms infinite;
  animation-delay: 868ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 71%;
  animation: blow 12976ms infinite;
  animation-delay: 3655ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 20%;
  animation: blow 5043ms infinite;
  animation-delay: 6470ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 47%;
  animation: blow 7960ms infinite;
  animation-delay: 3802ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 65%;
  animation: blow 10192ms infinite;
  animation-delay: 9783ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 58%;
  animation: blow 5000ms infinite;
  animation-delay: 3793ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 84%;
  animation: blow 5000ms infinite;
  animation-delay: 9808ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 80%;
  animation: blow 8192ms infinite;
  animation-delay: 10043ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 79%;
  animation: blow 5000ms infinite;
  animation-delay: 11446ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 79%;
  animation: blow 5000ms infinite;
  animation-delay: 10278ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 2%;
  animation: blow 7167ms infinite;
  animation-delay: 11506ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 11%;
  animation: blow 5000ms infinite;
  animation-delay: 8786ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 96%;
  animation: blow 5000ms infinite;
  animation-delay: 3006ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 92%;
  animation: blow 7225ms infinite;
  animation-delay: 7017ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 74%;
  animation: blow 5000ms infinite;
  animation-delay: 7743ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 7%;
  animation: blow 5000ms infinite;
  animation-delay: 7162ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 93%;
  animation: blow 11689ms infinite;
  animation-delay: 1411ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 64%;
  animation: blow 6133ms infinite;
  animation-delay: 7477ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 56%;
  animation: blow 5994ms infinite;
  animation-delay: 5250ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 84%;
  animation: blow 5369ms infinite;
  animation-delay: 7919ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 53%;
  animation: blow 7811ms infinite;
  animation-delay: 5647ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 24%;
  animation: blow 11484ms infinite;
  animation-delay: 2191ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 3%;
  animation: blow 11775ms infinite;
  animation-delay: 3492ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 84%;
  animation: blow 5000ms infinite;
  animation-delay: 6141ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 98%;
  animation: blow 5000ms infinite;
  animation-delay: 9747ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 55%;
  animation: blow 12058ms infinite;
  animation-delay: 11089ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 26%;
  animation: blow 6799ms infinite;
  animation-delay: 788ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 42%;
  animation: blow 5000ms infinite;
  animation-delay: 4576ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 99%;
  animation: blow 5939ms infinite;
  animation-delay: 6957ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 43%;
  animation: blow 5000ms infinite;
  animation-delay: 8725ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 15%;
  animation: blow 8380ms infinite;
  animation-delay: 7573ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 66%;
  animation: blow 12137ms infinite;
  animation-delay: 11763ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 70%;
  animation: blow 5224ms infinite;
  animation-delay: 3423ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 54%;
  animation: blow 5000ms infinite;
  animation-delay: 7146ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 3%;
  animation: blow 7177ms infinite;
  animation-delay: 3246ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 44%;
  animation: blow 7938ms infinite;
  animation-delay: 4472ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 7%;
  animation: blow 5416ms infinite;
  animation-delay: 3269ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 8%;
  animation: blow 12625ms infinite;
  animation-delay: 5522ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 61%;
  animation: blow 14576ms infinite;
  animation-delay: 3477ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 56%;
  animation: blow 5000ms infinite;
  animation-delay: 6417ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 60%;
  animation: blow 5000ms infinite;
  animation-delay: 6540ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 57%;
  animation: blow 14486ms infinite;
  animation-delay: 11613ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 40%;
  animation: blow 8931ms infinite;
  animation-delay: 10782ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 68%;
  animation: blow 5000ms infinite;
  animation-delay: 5314ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 89%;
  animation: blow 13744ms infinite;
  animation-delay: 3995ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 92%;
  animation: blow 11925ms infinite;
  animation-delay: 9721ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 25%;
  animation: blow 9558ms infinite;
  animation-delay: 9545ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 3%;
  animation: blow 8122ms infinite;
  animation-delay: 2294ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 33%;
  animation: blow 12195ms infinite;
  animation-delay: 10449ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 19%;
  animation: blow 5570ms infinite;
  animation-delay: 9262ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 61%;
  animation: blow 8018ms infinite;
  animation-delay: 11258ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 13%;
  animation: blow 5000ms infinite;
  animation-delay: 7409ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 10%;
  animation: blow 5000ms infinite;
  animation-delay: 11015ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 32%;
  animation: blow 5000ms infinite;
  animation-delay: 4646ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 82%;
  animation: blow 7335ms infinite;
  animation-delay: 1979ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 30%;
  animation: blow 13766ms infinite;
  animation-delay: 1232ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 49%;
  animation: blow 13142ms infinite;
  animation-delay: 3296ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 10%;
  animation: blow 5000ms infinite;
  animation-delay: 8562ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 1%;
  animation: blow 5000ms infinite;
  animation-delay: 4716ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 35%;
  animation: blow 11796ms infinite;
  animation-delay: 576ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 6%;
  animation: blow 9018ms infinite;
  animation-delay: 10889ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 91%;
  animation: blow 5000ms infinite;
  animation-delay: 5991ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 40%;
  animation: blow 5120ms infinite;
  animation-delay: 3394ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 78%;
  animation: blow 5000ms infinite;
  animation-delay: 4399ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 24%;
  animation: blow 5000ms infinite;
  animation-delay: 6481ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 10498ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 4512ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 22%;
  animation: blow 6014ms infinite;
  animation-delay: 101ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 34%;
  animation: blow 11802ms infinite;
  animation-delay: 10641ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 27%;
  animation: blow 14015ms infinite;
  animation-delay: 11338ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 10%;
  animation: blow 5000ms infinite;
  animation-delay: 3437ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 96%;
  animation: blow 9787ms infinite;
  animation-delay: 461ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 97%;
  animation: blow 5000ms infinite;
  animation-delay: 430ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 21%;
  animation: blow 14208ms infinite;
  animation-delay: 4836ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 1525ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 90%;
  animation: blow 6672ms infinite;
  animation-delay: 2342ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 57%;
  animation: blow 9303ms infinite;
  animation-delay: 685ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 72%;
  animation: blow 13461ms infinite;
  animation-delay: 5855ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 81%;
  animation: blow 7510ms infinite;
  animation-delay: 3908ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 38%;
  animation: blow 7439ms infinite;
  animation-delay: 7781ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 79%;
  animation: blow 9418ms infinite;
  animation-delay: 6054ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 14%;
  animation: blow 10866ms infinite;
  animation-delay: 7783ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 33%;
  animation: blow 6607ms infinite;
  animation-delay: 142ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 88%;
  animation: blow 5000ms infinite;
  animation-delay: 9023ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 12%;
  animation: blow 5000ms infinite;
  animation-delay: 11019ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 10136ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 33%;
  animation: blow 12569ms infinite;
  animation-delay: 7243ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 62%;
  animation: blow 10006ms infinite;
  animation-delay: 1545ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 71%;
  animation: blow 5000ms infinite;
  animation-delay: 6893ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 84%;
  animation: blow 12072ms infinite;
  animation-delay: 8520ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 76%;
  animation: blow 5824ms infinite;
  animation-delay: 4203ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 81%;
  animation: blow 6107ms infinite;
  animation-delay: 1888ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 37%;
  animation: blow 9283ms infinite;
  animation-delay: 5666ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 79%;
  animation: blow 6841ms infinite;
  animation-delay: 11440ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 46%;
  animation: blow 5240ms infinite;
  animation-delay: 6305ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 85%;
  animation: blow 11358ms infinite;
  animation-delay: 2387ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 70%;
  animation: blow 14467ms infinite;
  animation-delay: 255ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 46%;
  animation: blow 5000ms infinite;
  animation-delay: 6011ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 17%;
  animation: blow 11048ms infinite;
  animation-delay: 3385ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 3574ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 96%;
  animation: blow 8123ms infinite;
  animation-delay: 2299ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 34%;
  animation: blow 5202ms infinite;
  animation-delay: 4227ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 28%;
  animation: blow 11841ms infinite;
  animation-delay: 10892ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 7%;
  animation: blow 11394ms infinite;
  animation-delay: 525ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 56%;
  animation: blow 13080ms infinite;
  animation-delay: 6804ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 87%;
  animation: blow 5000ms infinite;
  animation-delay: 8778ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 37%;
  animation: blow 5000ms infinite;
  animation-delay: 4604ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 62%;
  animation: blow 11992ms infinite;
  animation-delay: 5152ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 79%;
  animation: blow 7497ms infinite;
  animation-delay: 8697ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 56%;
  animation: blow 6608ms infinite;
  animation-delay: 10441ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 71%;
  animation: blow 11897ms infinite;
  animation-delay: 11553ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 54%;
  animation: blow 6450ms infinite;
  animation-delay: 9164ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 53%;
  animation: blow 5000ms infinite;
  animation-delay: 4508ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 32%;
  animation: blow 8492ms infinite;
  animation-delay: 7081ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 37%;
  animation: blow 5000ms infinite;
  animation-delay: 5427ms;
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -100vh) scale(0.2);
  }
}

/*# sourceMappingURL=style.css.map */
